$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

h1 {
  font-family: Circe-Bold;
}
p {
  font-family: Circe;
}

.header {
  height: 730px;
  background: url(../images/bg1.png) #eee;
  padding-top: 20px;
  &__navbar {
    height: 50px;
  }
  &__logo {
    float: left;
  }
  &__currency {
    float: left;
    color: white;
    margin-left: 40px;
    font-size: 18px;
    font-family: 'Circe';
    line-height: 60px;
    &-percent {
      background-color: white;
      color: red;
      border-radius: 25px;
      padding: 6px 11px;
      font-size: 14px;
      vertical-align: middle;
      line-height: 60px;
      margin-left: 20px;
    }
  }
  &__nav {
    float: right;
    display: inline-block;
    line-height: 60px;
    &-register {
      border: 2px solid white;
      border-radius: 25px;
      padding: 10px 20px;
      transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
      &:hover {
        background: #eb5a63;
        border: 2px solid #eb5a63;
        transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
        }
      }
      ul a {
        text-decoration: none;
      li {
        display: inline;
        margin-left: 25px;
        color: white;
        text-transform: uppercase;
        font-family: 'Circe';
      }
    }
  }
  &__content {
    text-align: center;
    color: white;
    h1 {
      margin-top: 180px;
      font-family: 'Circe-ExtraBold';
      font-size: 48px;
      text-transform: uppercase;
    }
    p {
      font-family: Circe;
      font-size: 16px;
      margin-top: 40px;
    }
    &-btn {
      background-color: #a3cd8c;
      border: 2px solid #a3cd8c;
      border-radius: 35px;
      font-family: 'Circe-Bold';
      font-size: 18px;
      text-transform: uppercase;
      color: white;
      margin-top: 50px;
      padding: 20px 90px;
      transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
      &:hover {
        background: none;
        color: #a3cd8c;
        border: 2px solid #a3cd8c;
        transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
      }
    }
  }
}

.main {
  background: linear-gradient(to bottom, rgba(73,97,124,1) 1%, rgba(73,97,124,1) 28%, rgba(55,62,84,1) 66%, rgba(55,62,84,1) 100%);
  &__reliability {
    color: white;
    margin-left: 30px;
    h2 {
      text-transform: uppercase;
      font-family: 'Circe-Bold';
      font-size: 24px;
      margin: 120px 0 30px 0;
    }
    p {
      font-family: 'Circe';
      margin-bottom: 30px;
      color: #a4afbd;
    }
    &-btn {
      background: none;
      color: #a3cd8c;
      border: 2px solid #a3cd8c;
      border-radius: 30px;
      padding: 15px 20px;
      transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
      &:hover {
        background-color: #a3cd8c;
        border: 2px solid #a3cd8c;
        color: white;
        transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
      }
      .glyphicon-menu-right {
        margin-left: 10px;
      }
    }
    &-mac {
      margin: 75px 0 90px 0;
    }
  }
  &__security {
    text-align: center;
    color: white;
    &-box {
      margin: 100px 0 100px 0;
      padding: 0 30px 0 30px;
    }
    img {
      width: 100px;
      height: 100px;
      margin-bottom: 30px;
    }
    h3 {
      font-family: 'Circe-Bold';
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    p {
      color: #a4afbd;
    }
  }
  &__conditions {
    &-percent {
      margin: 135px 0 135px 100px;
    }
    &-content {
      padding: 0 100px 0 100px;
      margin: 100px 0 90px 0;
    }
    h2 {
      text-transform: uppercase;
      font-family: 'Circe-Bold';
      font-size: 24px;
      color: white;
      margin-bottom: 40px;
    }
    p {
      font-family: 'Circe';
      margin-bottom: 30px;
      color: #a4afbd;
      margin-bottom: 70px;
    }
    &-btn {
      background: none;
      color: #a3cd8c;
      border: 2px solid #a3cd8c;
      border-radius: 30px;
      padding: 15px 20px;
      transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
      &:hover {
        background-color: #a3cd8c;
        border: 2px solid #a3cd8c;
        color: white;
        transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
      }
      .glyphicon-menu-right {
        margin-left: 10px;
      }
    }
  }
  &__growth {
    float: left;
    &-content {
      padding: 0 100px 0 100px;
      margin: 100px 0 90px 0;
    }
    &-img {
      margin: 100px 0 100px 0;
    }
    h2 {
      text-transform: uppercase;
      font-family: 'Circe-Bold';
      font-size: 24px;
      color: white;
      margin-bottom: 40px;
    }
    p {
      font-family: 'Circe';
      margin-bottom: 30px;
      color: #a4afbd;
      margin-bottom: 60px;
    }
    &-btn {
      background: none;
      color: #a3cd8c;
      border: 2px solid #a3cd8c;
      border-radius: 30px;
      padding: 15px 20px;
      transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
      &:hover {
        background-color: #a3cd8c;
        border: 2px solid #a3cd8c;
        color: white;
        transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
      }
      .glyphicon-menu-right {
        margin-left: 10px;
      }
    }
  }
  &__news {
    color: white;
    &-transactions {
      padding-left: 100px;
      h2 {
        text-transform: uppercase;
        font-family: 'Circe-Bold';
        font-size: 24px;
        padding-bottom: 30px;
      }
      .main-table {
        border: 1px solid #4c556c;
        border-radius: 20px;
      }
      th {
        font-size: 12px;
        font-family: 'Circe';
        border: 1px solid #4c556c;
        padding: 20px 14px;
      }
      .blue {
        color: #75a3d7;
      }
      .grey {
        color: #9ea2a8;
      }
      .green {
        color: #61b77b;
      }
    }
    &-content {
      padding-left: 100px;
      h2 {
        text-transform: uppercase;
        font-family: 'Circe-Bold';
        font-size: 24px;
        padding-bottom: 30px;
      }
      .sign {
        color: #9fa3b0;
        margin-bottom: 30px;
      }
    }
  }
}
.footer {
  .contacts {
    background: url(../images/bg2.png) #eee;
    h2 {
      text-transform: uppercase;
      font-family: 'Circe-Bold';
      font-size: 24px;
      padding: 40px 0 40px 0;
    }
    &__form {
      width: 630px;
      height: 560px;
      position: relative;
      top: 95px;
      background: white;
      text-align: center;
      margin: 0 auto;
      border-top: 10px;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      border-style: solid;
      border-image: url(../images/ribbon.png) 8 0 0 round;
      form {
        width: 470px;
        margin: 0 auto;
        input {
          height: 40px;
        }
      }
    }
    .form-group {
      margin-bottom: 25px;
    }
    .form-control {
      border: none;
      border-radius: 0;
      background: #f4f7fb;
      padding-left: 15px; 
      padding-top: 10px;
      font-size: 12px;
    }
    .btn-primary {
      background-color: #7da3d7;
      border: none;
      border-radius: 4px;
      height: 60px;
      transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;

    }
    .btn-primary:hover {
      background-color: #2e6da4;
    }
  }
  &__earning {
    color: white;
    background: #3a4258;
    padding-top: 130px;
    text-align: center;
    h2 {
      text-transform: uppercase;
      font-family: 'Circe-Bold';
    }
    &-btn {
      background-color: #a3cd8c;
      border: 2px solid #a3cd8c;
      border-radius: 35px;
      font-family: 'Circe-Bold';
      font-size: 18px;
      text-transform: uppercase;
      color: white;
      margin-top: 50px;
      padding: 20px 90px;
      transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
      &:hover {
        background: none;
        color: #a3cd8c;
        border: 2px solid #a3cd8c;
        transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
      }
    }
  }
}
